<%- include('../partials/head')%>

    <%- include('../partials/navbar')%>
<body>
    <h1>Products</h1>
    <ul>
        <% for (p of products) { %>
            <li>
                <%=p.product%> - <b><%=p.price%></b>
                <a href="/products/<%=p.id%>">Learn More</a>
            </li>
        <% } %>
    </ul>
    
    <a href="/products/new">New Product</a>
</body>

<%- include('../partials/footer') %>